*{
    font-family: 'Poppins', sans-serif;
}
.flex li{
    list-style: none;
}
.flex li a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.main{
    width: 99vw;
    height: 90vh;
}

.left{
    width: 65%;
    height: 100%;
}
.left,text{
    padding: 20px;
}
.left,text p{
    font-size: 20px;
}
.right{
    width: 100%;
    height: 100%;
}
.right img{
    width: 100%;
    height: 100%;
}

.text{
    color: white;
}

/*about */

.about{
    width: 100%;
    height: auto;
}
.aboutDiv{
    width: 100%;
    height: 100%;
    position: relative;
}
.about> .aboutDiv > .row img{
    width: 180px;
    height: 150px;
}
.about> .aboutDiv > .row > .column{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about> .aboutDiv > .row > .column> .div1{
    width: 100%;
    height: 250px;
    margin: 10px;    
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    border-radius: 10px;
}
.imgDiv{
    width: 20%;
    height: 250px;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* end about */



























/* MAIN ATTERIBUTES */
header{
    height: 10vh;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );

}


/* UTILITY CLASSES */
.flex{
    justify-content: center;
    display: flex;
    align-items: center;
}
.flexh{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backgroundmain{
    /* background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); */
    /* background-image: linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% ); */
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );

}
.backgroundr{
    background-color: red;
}
.backgroundg{
    background-color: green;
}
.backgroundb{
    background-color: blue;
}
.textr{
    color: red;
}
.textg{
    color: green;
}
.textb{
    color: blue;
}

.center{
    position: relative;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.textRight{
    text-align: right;
}
.textCenter{
    text-align: center;
}